/* latin */
@font-face {
  font-family: 'Droid Sans Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans Mono'), local('DroidSansMono'), url(http://fonts.gstatic.com/s/droidsansmono/v7/ns-m2xQYezAtqh7ai59hJRKnxaAEYTN4MxDddXh-8ZY.woff2) format('woff2');
  unicode-range: U0 0FF, U131, U152 -153, U2C6, U2DA, U2DC, U2000 -206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000; }

.hll {
  background-color: #ffffcc; }

.c {
  font-style: italic; }

/* Comment */
.err {
  border: 1px solid #FF0000; }

/* Error */
.k {
  font-weight: bold; }

/* Keyword */
.cm {
  font-style: italic; }

/* Comment.Multiline */
.c1 {
  font-style: italic; }

/* Comment.Single */
.cs {
  font-style: italic; }

/* Comment.Special */
.ge {
  font-style: italic; }

/* Generic.Emph */
.gh {
  font-weight: bold; }

/* Generic.Heading */
.gp {
  font-weight: bold; }

/* Generic.Prompt */
.gs {
  font-weight: bold; }

/* Generic.Strong */
.gu {
  font-weight: bold; }

/* Generic.Subheading */
.kc {
  font-weight: bold; }

/* Keyword.Constant */
.kd {
  font-weight: bold; }

/* Keyword.Declaration */
.kn {
  font-weight: bold; }

/* Keyword.Namespace */
.kr {
  font-weight: bold; }

/* Keyword.Reserved */
.s {
  font-style: italic; }

/* Literal.String */
.nc {
  font-weight: bold; }

/* Name.Class */
.ni {
  font-weight: bold; }

/* Name.Entity */
.ne {
  font-weight: bold; }

/* Name.Exception */
.nn {
  font-weight: bold; }

/* Name.Namespace */
.nt {
  font-weight: bold; }

/* Name.Tag */
.ow {
  font-weight: bold; }

/* Operator.Word */
.sb {
  font-style: italic; }

/* Literal.String.Backtick */
.sc {
  font-style: italic; }

/* Literal.String.Char */
.sd {
  font-style: italic; }

/* Literal.String.Doc */
.s2 {
  font-style: italic; }

/* Literal.String.Double */
.se {
  font-weight: bold;
  font-style: italic; }

/* Literal.String.Escape */
.sh {
  font-style: italic; }

/* Literal.String.Heredoc */
.si {
  font-weight: bold;
  font-style: italic; }

/* Literal.String.Interpol */
.sx {
  font-style: italic; }

/* Literal.String.Other */
.sr {
  font-style: italic; }

/* Literal.String.Regex */
.s1 {
  font-style: italic; }

/* Literal.String.Single */
.ss {
  font-style: italic; }

/* Literal.String.Symbol */
/* USAGE:

@include breakpoint(big) {
    width: 70%;
}; @include breakpoint(mbig, msmall) {
    width: 80%;
}; @include breakpoint(small) {
    width: 90%''
}
*/
/* USAGE:

@include breakpoint(big) {
    width: 70%;
}; @include breakpoint(mbig, msmall) {
    width: 80%;
}; @include breakpoint(small) {
    width: 90%''
}
*/
body {
  background-color: #FFF;
  margin: 0 auto;
  font-family: 'Droid Sans Mono';
  text-align: center; }
  @media only screen and (min-width: 1020px) {
    body {
      width: 80%; } }
  @media only screen and (max-width: 1019px) and (min-width: 840px) {
    body {
      width: 80%; } }
  @media only screen and (max-width: 839px) and (min-width: 640px) {
    body {
      width: 90%; } }
  @media only screen and (max-width: 639px) {
    body {
      width: 90%; } }
  body #header {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #000;
    background-color: #FFF;
    background-clip: padding-box;
    -webkit-border-top-right-radius: 0;
    -moz-border-top-right-radius: 0;
    border-top-right-radius: 0;
    background-clip: padding-box;
    -webkit-border-top-left-radius: 0;
    -moz-border-top-left-radius: 0;
    border-top-left-radius: 0;
    margin-top: 0;
    font-family: 'Droid Sans Mono'; }
    @media only screen and (min-width: 1020px) {
      body #header {
        padding: 25px 35px; } }
    @media only screen and (max-width: 1019px) and (min-width: 840px) {
      body #header {
        padding: 25px 35px; } }
    @media only screen and (max-width: 839px) and (min-width: 640px) {
      body #header {
        padding: 10px 15px; } }
    @media only screen and (max-width: 639px) {
      body #header {
        padding: 10px 15px; } }
    body #header a {
      color: #000;
      font-weight: bolder;
      text-decoration: none; }
      body #header a:visited {
        color: #000;
        font-weight: bolder;
        text-decoration: none; }
      body #header a:hover:not(.no-hilite) {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background-color: #000;
        color: #FFF; }
    body #header #sitename {
      margin: 0; }
      @media only screen and (min-width: 1020px) {
        body #header #sitename {
          font-size: 4em; } }
      @media only screen and (max-width: 1019px) and (min-width: 840px) {
        body #header #sitename {
          font-size: 4em; } }
      @media only screen and (max-width: 839px) and (min-width: 640px) {
        body #header #sitename {
          font-size: 3em; } }
      @media only screen and (max-width: 639px) {
        body #header #sitename {
          font-size: 3em; } }
    body #header #sitesubtitle {
      font-weight: 100; }
  body #menu {
    min-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #000;
    background-color: #FFF;
    display: inline-block; }
    @media only screen and (min-width: 1020px) {
      body #menu {
        padding: 25px 35px; } }
    @media only screen and (max-width: 1019px) and (min-width: 840px) {
      body #menu {
        padding: 25px 35px; } }
    @media only screen and (max-width: 839px) and (min-width: 640px) {
      body #menu {
        padding: 10px 15px; } }
    @media only screen and (max-width: 639px) {
      body #menu {
        padding: 10px 15px; } }
    body #menu a {
      color: #000;
      font-weight: bolder;
      text-decoration: none; }
      body #menu a:visited {
        color: #000;
        font-weight: bolder;
        text-decoration: none; }
      body #menu a:hover:not(.no-hilite) {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background-color: #000;
        color: #FFF; }
    body #menu ul {
      list-style: none;
      text-align: center;
      padding: 0;
      margin: 0; }
      body #menu ul li {
        display: inline;
        padding: 0;
        margin: 0;
        border: 0; }
      body #menu ul li + li:before {
        content: '\25CF';
        padding: 0 0.5em; }
  body #quote {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #000;
    background-color: #FFF; }
    @media only screen and (min-width: 1020px) {
      body #quote {
        padding: 25px 35px; } }
    @media only screen and (max-width: 1019px) and (min-width: 840px) {
      body #quote {
        padding: 25px 35px; } }
    @media only screen and (max-width: 839px) and (min-width: 640px) {
      body #quote {
        padding: 10px 15px; } }
    @media only screen and (max-width: 639px) {
      body #quote {
        padding: 10px 15px; } }
    body #quote a {
      color: #000;
      font-weight: bolder;
      text-decoration: none; }
      body #quote a:visited {
        color: #000;
        font-weight: bolder;
        text-decoration: none; }
      body #quote a:hover:not(.no-hilite) {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background-color: #000;
        color: #FFF; }
    @media only screen and (min-width: 1020px) {
      body #quote {
        display: block; } }
    @media only screen and (max-width: 1019px) and (min-width: 840px) {
      body #quote {
        display: block; } }
    @media only screen and (max-width: 839px) and (min-width: 640px) {
      body #quote {
        display: block; } }
    @media only screen and (max-width: 639px) {
      body #quote {
        display: none; } }
  body #page-title {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #000;
    background-color: #FFF;
    text-align: center; }
    @media only screen and (min-width: 1020px) {
      body #page-title {
        padding: 25px 35px; } }
    @media only screen and (max-width: 1019px) and (min-width: 840px) {
      body #page-title {
        padding: 25px 35px; } }
    @media only screen and (max-width: 839px) and (min-width: 640px) {
      body #page-title {
        padding: 10px 15px; } }
    @media only screen and (max-width: 639px) {
      body #page-title {
        padding: 10px 15px; } }
    body #page-title a {
      color: #000;
      font-weight: bolder;
      text-decoration: none; }
      body #page-title a:visited {
        color: #000;
        font-weight: bolder;
        text-decoration: none; }
      body #page-title a:hover:not(.no-hilite) {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background-color: #000;
        color: #FFF; }
  body #content {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #000;
    background-color: #FFF;
    text-align: left; }
    @media only screen and (min-width: 1020px) {
      body #content {
        padding: 25px 35px; } }
    @media only screen and (max-width: 1019px) and (min-width: 840px) {
      body #content {
        padding: 25px 35px; } }
    @media only screen and (max-width: 839px) and (min-width: 640px) {
      body #content {
        padding: 10px 15px; } }
    @media only screen and (max-width: 639px) {
      body #content {
        padding: 10px 15px; } }
    body #content a {
      color: #000;
      font-weight: bolder;
      text-decoration: none; }
      body #content a:visited {
        color: #000;
        font-weight: bolder;
        text-decoration: none; }
      body #content a:hover:not(.no-hilite) {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background-color: #000;
        color: #FFF; }
    body #content #content-title {
      width: 90%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      border-radius: 50px;
      margin-top: 15px;
      margin-bottom: 15px;
      color: #000;
      background-color: #FFF;
      text-align: center; }
      @media only screen and (min-width: 1020px) {
        body #content #content-title {
          padding: 25px 35px; } }
      @media only screen and (max-width: 1019px) and (min-width: 840px) {
        body #content #content-title {
          padding: 25px 35px; } }
      @media only screen and (max-width: 839px) and (min-width: 640px) {
        body #content #content-title {
          padding: 10px 15px; } }
      @media only screen and (max-width: 639px) {
        body #content #content-title {
          padding: 10px 15px; } }
      body #content #content-title a {
        color: #000;
        font-weight: bolder;
        text-decoration: none; }
        body #content #content-title a:visited {
          color: #000;
          font-weight: bolder;
          text-decoration: none; }
        body #content #content-title a:hover:not(.no-hilite) {
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
          background-color: #000;
          color: #FFF; }
    body #content .article-header, body #content .page-header {
      width: 90%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      border-radius: 50px;
      margin-top: 15px;
      margin-bottom: 15px;
      color: #000;
      background-color: #FFF;
      text-align: center;
      margin-bottom: 0;
      margin-top: 0; }
      @media only screen and (min-width: 1020px) {
        body #content .article-header, body #content .page-header {
          padding: 25px 35px; } }
      @media only screen and (max-width: 1019px) and (min-width: 840px) {
        body #content .article-header, body #content .page-header {
          padding: 25px 35px; } }
      @media only screen and (max-width: 839px) and (min-width: 640px) {
        body #content .article-header, body #content .page-header {
          padding: 10px 15px; } }
      @media only screen and (max-width: 639px) {
        body #content .article-header, body #content .page-header {
          padding: 10px 15px; } }
      body #content .article-header a, body #content .page-header a {
        color: #000;
        font-weight: bolder;
        text-decoration: none; }
        body #content .article-header a:visited, body #content .page-header a:visited {
          color: #000;
          font-weight: bolder;
          text-decoration: none; }
        body #content .article-header a:hover:not(.no-hilite), body #content .page-header a:hover:not(.no-hilite) {
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
          background-color: #000;
          color: #FFF; }
      body #content .article-header h2, body #content .page-header h2 {
        margin: 0; }
    body #content .article-footer {
      width: 90%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      border-radius: 50px;
      margin-top: 15px;
      margin-bottom: 15px;
      color: #000;
      background-color: #FFF;
      background-clip: padding-box;
      -webkit-border-top-right-radius: 0;
      -moz-border-top-right-radius: 0;
      border-top-right-radius: 0;
      background-clip: padding-box;
      -webkit-border-top-left-radius: 0;
      -moz-border-top-left-radius: 0;
      border-top-left-radius: 0;
      margin-top: 0;
      padding-left: 10%;
      padding-right: 10%;
      padding-top: 0;
      padding-bottom: 2%;
      width: 30%;
      text-align: center;
      position: relative;
      top: -0.7em; }
      @media only screen and (min-width: 1020px) {
        body #content .article-footer {
          padding: 25px 35px; } }
      @media only screen and (max-width: 1019px) and (min-width: 840px) {
        body #content .article-footer {
          padding: 25px 35px; } }
      @media only screen and (max-width: 839px) and (min-width: 640px) {
        body #content .article-footer {
          padding: 10px 15px; } }
      @media only screen and (max-width: 639px) {
        body #content .article-footer {
          padding: 10px 15px; } }
      body #content .article-footer a {
        color: #000;
        font-weight: bolder;
        text-decoration: none; }
        body #content .article-footer a:visited {
          color: #000;
          font-weight: bolder;
          text-decoration: none; }
        body #content .article-footer a:hover:not(.no-hilite) {
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
          background-color: #000;
          color: #FFF; }
      @media only screen and (min-width: 1020px) {
        body #content .article-footer {
          width: 30%; } }
      @media only screen and (max-width: 1019px) and (min-width: 840px) {
        body #content .article-footer {
          width: 30%; } }
      @media only screen and (max-width: 839px) and (min-width: 640px) {
        body #content .article-footer {
          width: 50%; } }
      @media only screen and (max-width: 639px) {
        body #content .article-footer {
          width: 50%; } }
    body #content .article-text .highlight {
      background-color: #FFF;
      padding: 0.5em 1em;
      overflow: auto; }
    body #content .article-text .highlighttable {
      width: 100%;
      border-left: 15px solid #FFF; }
      body #content .article-text .highlighttable .linenos {
        width: 1.3em;
        text-align: center; }
      body #content .article-text .highlighttable .highlight {
        padding: 0 1em; }
    body #content .article-text h1 {
      font-size: 1.75em; }
    body #content .article-text blockquote {
      padding: 0.5em 1em;
      background-color: #FFF;
      color: #000;
      border-left: 15px solid #000;
      box-shadow: -10px 0px 0px 0px #FFF; }
      @media only screen and (min-width: 1020px) {
        body #content .article-text blockquote {
          margin: 1em 3em; } }
      @media only screen and (max-width: 1019px) and (min-width: 840px) {
        body #content .article-text blockquote {
          margin: 1em 3em; } }
      @media only screen and (max-width: 839px) and (min-width: 640px) {
        body #content .article-text blockquote {
          margin: 1em 2em; } }
      @media only screen and (max-width: 639px) {
        body #content .article-text blockquote {
          margin: 1em 2em; } }
      body #content .article-text blockquote a {
        color: #000;
        font-weight: bolder;
        text-decoration: none; }
        body #content .article-text blockquote a:visited {
          color: #000;
          font-weight: bolder;
          text-decoration: none; }
        body #content .article-text blockquote a:hover:not(.no-hilite) {
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
          background-color: #000;
          color: #FFF; }
    body #content .article-text hr {
      width: 90%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      border-radius: 50px;
      margin-top: 15px;
      margin-bottom: 15px;
      color: #000;
      background-color: #000;
      border: 0; }
      @media only screen and (min-width: 1020px) {
        body #content .article-text hr {
          padding: 25px 35px; } }
      @media only screen and (max-width: 1019px) and (min-width: 840px) {
        body #content .article-text hr {
          padding: 25px 35px; } }
      @media only screen and (max-width: 839px) and (min-width: 640px) {
        body #content .article-text hr {
          padding: 10px 15px; } }
      @media only screen and (max-width: 639px) {
        body #content .article-text hr {
          padding: 10px 15px; } }
      body #content .article-text hr a {
        color: #000;
        font-weight: bolder;
        text-decoration: none; }
        body #content .article-text hr a:visited {
          color: #000;
          font-weight: bolder;
          text-decoration: none; }
        body #content .article-text hr a:hover:not(.no-hilite) {
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
          background-color: #000;
          color: #000; }
      @media only screen and (min-width: 1020px) {
        body #content .article-text hr {
          padding: 5px 35px; } }
      @media only screen and (max-width: 1019px) and (min-width: 840px) {
        body #content .article-text hr {
          padding: 5px 35px; } }
      @media only screen and (max-width: 839px) and (min-width: 640px) {
        body #content .article-text hr {
          padding: 2px 15px; } }
      @media only screen and (max-width: 639px) {
        body #content .article-text hr {
          padding: 2px 15px; } }
    body #content .article-text img {
      display: block;
      margin: 15px auto;
      box-shadow: 0px 0px 0px 10px #000; }
    body #content .article-text .footnote hr {
      height: 0.2em; }
    body #content .article-divider {
      width: 50%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      border-radius: 50px;
      margin-top: 15px;
      margin-bottom: 15px;
      color: #FFF;
      background-color: #FFF;
      border: 0;
      margin-top: 1.5em;
      margin-bottom: 1.5em; }
      @media only screen and (min-width: 1020px) {
        body #content .article-divider {
          padding: 25px 35px; } }
      @media only screen and (max-width: 1019px) and (min-width: 840px) {
        body #content .article-divider {
          padding: 25px 35px; } }
      @media only screen and (max-width: 839px) and (min-width: 640px) {
        body #content .article-divider {
          padding: 10px 15px; } }
      @media only screen and (max-width: 639px) {
        body #content .article-divider {
          padding: 10px 15px; } }
      body #content .article-divider a {
        color: #FFF;
        font-weight: bolder;
        text-decoration: none; }
        body #content .article-divider a:visited {
          color: #FFF;
          font-weight: bolder;
          text-decoration: none; }
        body #content .article-divider a:hover:not(.no-hilite) {
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
          background-color: #FFF;
          color: #FFF; }
      @media only screen and (min-width: 1020px) {
        body #content .article-divider {
          padding: 15px 35px; } }
      @media only screen and (max-width: 1019px) and (min-width: 840px) {
        body #content .article-divider {
          padding: 15px 35px; } }
      @media only screen and (max-width: 839px) and (min-width: 640px) {
        body #content .article-divider {
          padding: 10px 15px; } }
      @media only screen and (max-width: 639px) {
        body #content .article-divider {
          padding: 10px 15px; } }
    body #content .paginator {
      width: 50%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      border-radius: 50px;
      margin-top: 15px;
      margin-bottom: 15px;
      color: #000;
      background-color: #FFF;
      text-align: center; }
      @media only screen and (min-width: 1020px) {
        body #content .paginator {
          padding: 25px 35px; } }
      @media only screen and (max-width: 1019px) and (min-width: 840px) {
        body #content .paginator {
          padding: 25px 35px; } }
      @media only screen and (max-width: 839px) and (min-width: 640px) {
        body #content .paginator {
          padding: 10px 15px; } }
      @media only screen and (max-width: 639px) {
        body #content .paginator {
          padding: 10px 15px; } }
      body #content .paginator a {
        color: #000;
        font-weight: bolder;
        text-decoration: none; }
        body #content .paginator a:visited {
          color: #000;
          font-weight: bolder;
          text-decoration: none; }
        body #content .paginator a:hover:not(.no-hilite) {
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
          background-color: #000;
          color: #FFF; }
      body #content .paginator a {
        font-weight: 900; }
  body #theme-switcher {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #000;
    background-color: #FFF;
    font-size: 1.5em; }
    @media only screen and (min-width: 1020px) {
      body #theme-switcher {
        padding: 25px 35px; } }
    @media only screen and (max-width: 1019px) and (min-width: 840px) {
      body #theme-switcher {
        padding: 25px 35px; } }
    @media only screen and (max-width: 839px) and (min-width: 640px) {
      body #theme-switcher {
        padding: 10px 15px; } }
    @media only screen and (max-width: 639px) {
      body #theme-switcher {
        padding: 10px 15px; } }
    body #theme-switcher a {
      color: #000;
      font-weight: bolder;
      text-decoration: none; }
      body #theme-switcher a:visited {
        color: #000;
        font-weight: bolder;
        text-decoration: none; }
      body #theme-switcher a:hover:not(.no-hilite) {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background-color: #000;
        color: #FFF; }
    body #theme-switcher #theme-switcher-select {
      margin: 0.2em;
      border: 2px solid #000;
      font-size: 1em;
      background-color: #FFF;
      font-family: 'Droid Sans Mono'; }
      body #theme-switcher #theme-switcher-select:focus {
        outline: 0; }
  body #footer {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #000;
    background-color: #FFF;
    background-clip: padding-box;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    background-clip: padding-box;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-bottom: 0; }
    @media only screen and (min-width: 1020px) {
      body #footer {
        padding: 25px 35px; } }
    @media only screen and (max-width: 1019px) and (min-width: 840px) {
      body #footer {
        padding: 25px 35px; } }
    @media only screen and (max-width: 839px) and (min-width: 640px) {
      body #footer {
        padding: 10px 15px; } }
    @media only screen and (max-width: 639px) {
      body #footer {
        padding: 10px 15px; } }
    body #footer a {
      color: #000;
      font-weight: bolder;
      text-decoration: none; }
      body #footer a:visited {
        color: #000;
        font-weight: bolder;
        text-decoration: none; }
      body #footer a:hover:not(.no-hilite) {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background-color: #000;
        color: #FFF; }

body {
  width: 100%;
  text-align: left; }
  body #header {
    padding: 0;
    margin: 0 auto; }
    @media only screen and (min-width: 1020px) {
      body #header #sitename {
        font-size: 2em; } }
    @media only screen and (max-width: 1019px) and (min-width: 840px) {
      body #header #sitename {
        font-size: 2em; } }
    @media only screen and (max-width: 839px) and (min-width: 640px) {
      body #header #sitename {
        font-size: 1em; } }
    @media only screen and (max-width: 639px) {
      body #header #sitename {
        font-size: 1em; } }
    body #header #sitename:before {
      content: "$ cat "; }
    body #header #sitename:after {
      content: ".md"; }
    body #header #sitesubtitle {
      font-size: 0.7em; }
      body #header #sitesubtitle:before {
        content: "\/\* "; }
      body #header #sitesubtitle:after {
        content: " \*\/"; }
  body #menu ul {
    text-align: left;
    list-style: none; }
    body #menu ul li {
      display: list-item; }
      body #menu ul li:before {
        content: '- '; }
    body #menu ul li + li:before {
      padding: 0;
      content: '- '; }
  body #quote {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    width: 80%; }
    body #quote:before {
      content: '> '; }
  body #content {
    margin: 0; }
    body #content .article-header {
      margin: 0;
      padding: 0;
      text-align: left; }
      body #content .article-header .entry-title:before {
        content: "# "; }
    body #content .article-footer {
      padding: 0.5em 0 0 0;
      margin: 0;
      text-align: left;
      width: 80%;
      top: 0; }
      body #content .article-footer:before {
        content: "> "; }
    body #content .article-text blockquote {
      border-left: none;
      box-shadow: none; }
      body #content .article-text blockquote:before {
        position: relative;
        top: 35px;
        left: -2em;
        content: "> "; }

a:not(.no-hilite):before {
  content: "["; }
a:not(.no-hilite):after {
  content: "](...)"; }

em:before, em:after {
  content: "*"; }

strong:before, strong:after {
  content: "**"; }

code:before, code:after {
  content: "`"; }

#content h1:before {
  content: "# "; }
#content h2:before {
  content: "## "; }
#content h3:before {
  content: "### "; }
#content h4:before {
  content: "#### "; }
#content h5:before {
  content: "##### "; }
#content h6:before {
  content: "###### "; }

