@import url(pygments.css);
@import url(//reset5.googlecode.com/hg/reset.min.css);

/* General stuff. */

body {
    width: 80%;
}

.content {
    width: 90%;
}

@media (min-width: 700px) {
    body {
        width: 80%;
    }
    .content {
        width: 70%;
        margin: 0 auto;
    }
}

@media (min-width: 1200px) {
    body {
        width: 70%
    }
    .content {
        width: 70%;
        margin: 0 auto;

    }
}

html { /* This stuff is for the sticky footer. */
    min-height:100%;
    position:relative;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
}

body {
    background-color:#fafafa;
    color: #2E2E2E;
    font-family:'Lato', sans-serif;
    margin: 20px auto 100px auto; /* For sticky footer. */
}

/* Site header. */

.siteheader {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 1.25em;
    display: table;
}

@media (min-width: 700px) {
    .siteheader {
        padding: 0 3em;
        margin-top: 1em;
        margin-bottom: 3em;
    }
}

.siteheader-cell {
    width: 100%;
    display: block;
    margin-bottom: 2em;
}

@media (min-width: 700px) {
    .siteheader-cell {
        width: 50%;
        display: table-cell;
        vertical-align: middle;
    }
}

.siteheader::after {
    content: '';
    display: table;
    clear: both;
}

.sitetitle {
    box-sizing: border-box;
    /*float: left;*/
    font-family: 'Lobster', cursive;
    text-align: center;
    font-weight: 300;
    font-size: 6em;
    position: relative; /* Hack to dodge :hover issue. */
}

@media (min-width: 700px) {
    .sitetitle {
        text-align: left;
    }
}

.sitebanner {
    box-sizing: border-box;
    display: block;
    position: relative;
    font-size: 18;
    text-align: center;
    /*float: right;*/
}

@media (min-width: 700px) {
    .sitebanner {
        width: 50%;
        float: right;
        text-align: right;
    }
}

.sitesubtitle {
    font-size: 1em;
    margin-bottom: 30px;
    margin-top: 20px;
}

/* The navbar. */

.menu {
    font-size: 1.3em;
    /* padding-left: 30px; */
}

.menu li {
    display: inline;
    margin-right: 10px;
}

/* Article list on index page. */

#postlist {
    left: 0;
    padding-left: 0;
}

.posttitle {
    font-size: 1.6em;
}

.postinfo {
    margin-top: 5px;
    margin-bottom: 10px;
    color: #666;
    font-size: .7em;
}

.divider {
    text-align: center;
}

.post {
    margin-bottom: 3em;
    list-style: none;
}

/* Links. */

a { /* Generic link styling, greyish and underlined. */
    color: #2E2E2E;
    text-decoration: underline;
    -o-transition:color .1s ease-in-out;
    -webkit-transition:color .1s ease-in-out;
    -moz-transition:color .1s ease-in-out;
    transition:color .1s ease-in-out;
}

.nodec {
    /* Links that aren't just in content areas shouldn't be underlined */
    text-decoration: none;
}

.emph {
    color: #000D96;
}

.emph:hover {
    border-top: 1px solid #000D96;
    border-bottom: 1px solid #000D96;
}

a:hover { /* Hover style: transition to blue. Cool! */
    -o-transition:color .1s ease-in-out;
    -webkit-transition:color .1s ease-in-out;
    -moz-transition:color .1s ease-in-out;
    transition:color .1s ease-in-out;
    color: #000D96;
}

/* Generic to all content. */

.content ol, .content ul {
    position: relative;
    left: 40px;
    padding-bottom: 20px;
}

/* Make super and subscipts look reasonable. */

sup, sub {
    vertical-align: 0;
    position: relative;
}

sup {
    bottom: 1ex;
    font-size: 0.6em;
}

sub {
    top: 0.8ex;
    font-size: 0.6em;
}

/* Article */

.article {
    margin-top: 30px;
}

/* Lists */

.article * li, .postsummary * li {
    line-height: 1.1em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

/* Paragraphs. */

.article p, .postsummary p {
    line-height: 1.3em;
    margin-bottom: 1.5em;
}

/* Headers. */

.article h1, .postsummary h1 {
    padding-bottom: 1em;
    font-size: 1.4em;
}

.article h2, .postsummary h2 {
    padding-bottom: 0.9em;
    font-size: 1.2em;
}

.article h3, .postsummary h3 {
    padding-bottom: 0.8em;
    font-size: 1em;
}

/* Footnotes. */

.article .footnote {
    font-size: 0.8em;
}

/* Images */

.content * img {
    display: block;
    margin: 0 auto 0 auto;
    max-width: 95%;
    height: auto;
}

/* Blockquotes */

.article blockquote, .postsummary blockquote {
    font-size: 0.9em;
    font-style: italic;
    border-left: 3px solid #ccc;
    margin-left: 30px;
    padding-left: 10px;
    margin-bottom: 30px;
}

/* Code */

.codehilite, .highlight { /* Put code blocks in the right place. */
    width: 95%;
    margin: 0 auto;
    margin-bottom: 20px;
    overflow: auto;
    border: 1px solid grey;
    border-radius: 5px;
}

.article pre, .postsummary pre {
    font-family: 'Source Code Pro';
    font-size: .85em;
    margin: auto;
    padding: 1em;
}

.article code, .postsummary pre {
    font-family: 'Source Code Pro';
    font-size: .85em;
}

/* Footer at page bottom */

footer {
    bottom: 0;
    color: grey;
    font-size: .7em;
    height: 30px;
    position: absolute;
}
